# Instalación de paquetes

In [ ]:
#!pip install src
#!pip install lifelines

# Carga de paquetes a utilizar

In [ ]:
# load packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("ggplot")

import seaborn as sns
import statsmodels.api as sm # give you lots of stat

from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score
import lifelines
#from src.roc_curve import *

# Carga del dataset en crudo

In [2]:
df = pd.read_csv('../Data/data_churn_model.csv', index_col=0)
df.head()

,Country,Employee_Pay_ST,Track,Level_Cat,Level,Effective_Start_DT,Effective_Ending_DT,Termination_Reason,Birth_DT,Edad,...,Media_hora_curso,Estado,Total_number_received_Feedback,Performance_feedback_AVG,Performance_Level_CD,Performance_Level,Potential_Level_CD,Potential_Level,Track_Code,TotalNumberOfficeEmployees
ID_Country,,,,,,,,,,,,,,,,,,,,,
2,MX,Active,SYINCO,5,Sr. Consultant,12/01/2001,1/29/2021,Still Active,16/09/1971,49,...,16.0,Activo,0.0,91.789248,2,Medium,0,No Employee info,8,1441
2,MX,Active,DEVELO,5,Sr. Consultant,8/23/2018,1/29/2021,Still Active,10/10/1966,54,...,10.0,Activo,19.0,91.630000,2,Medium,0,No Employee info,3,1441
2,MX,Active,CONSUL,6,Manager / Master,08/01/2009,1/29/2021,Still Active,03/09/1972,48,...,2.0,Activo,0.0,91.789248,0,High,0,No Employee info,2,1441
2,MX,Active,MNGSER,3,Experienced Consultant,11/16/2017,1/29/2021,Still Active,22/11/1970,49,...,14.0,Activo,0.0,91.789248,2,Medium,0,No Employee info,4,1441
2,MX,Active,PROJCT,6,Manager / Master,10/01/1995,1/29/2021,Still Active,25/06/1974,46,...,4.0,Activo,2.0,50.000000,2,Medium,1,RISING TALENT,5,1441

# Estadísticas del dataset

In [3]:
df.describe()

,Level_Cat,Edad,Marital_CD,Gender,SBR_AMT,SCR_AMT,Region,Office,Area,Division,...,Course_Viewed,Logs_Course_Viewed,Logs_Global_Campus,Media_hora_curso,Total_number_received_Feedback,Performance_feedback_AVG,Performance_Level_CD,Potential_Level_CD,Track_Code,TotalNumberOfficeEmployees
count,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3360.000000,3429.000000,3429.000000,3429.000000,...,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000
mean,3.316419,35.251385,1.377953,0.252260,91.046755,26.009801,11.806548,20.706037,7.145815,109.049869,...,3.427414,9.160767,77.210944,6.153727,2.184537,91.777965,2.067658,0.264800,4.049577,892.149023
std,1.683686,8.235579,0.658880,0.434373,63.612494,18.202570,5.395693,13.961061,1.325969,252.702710,...,5.259952,11.546190,98.156459,8.169579,3.448176,6.662654,1.066940,0.591056,2.215726,515.735342
min,1.000000,18.000000,1.000000,0.000000,0.000000,0.000000,2.000000,3.000000,7.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,5.000000
25%,2.000000,29.000000,1.000000,0.000000,48.000000,13.750000,12.000000,8.000000,7.000000,35.000000,...,0.000000,0.000000,4.000000,0.000000,0.000000,91.789248,2.000000,0.000000,3.000000,627.000000
50%,3.000000,34.000000,1.000000,0.000000,78.620000,22.440000,14.000000,31.000000,7.000000,36.000000,...,2.000000,4.000000,40.000000,4.000000,1.000000,91.789248,2.000000,0.000000,3.000000,735.000000
75%,5.000000,41.000000,2.000000,1.000000,119.280000,34.080000,15.000000,33.000000,7.000000,37.000000,...,4.000000,16.000000,117.401185,8.000000,3.000000,94.330000,3.000000,0.000000,5.000000,1441.000000
max,6.000000,67.000000,5.000000,1.000000,827.720000,236.490000,18.000000,48.000000,24.000000,994.000000,...,45.000000,54.000000,497.000000,48.000000,19.000000,100.000000,3.000000,2.000000,8.000000,1441.000000

# Metadatos del dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3429 entries, 2 to 16
Data columns (total 65 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         3429 non-null   object
 1   Employee_Pay_ST                 3429 non-null   object
 2   Track                           3429 non-null   object
 3   Level_Cat                       3429 non-null   int64
 4   Level                           3429 non-null   object
 5   Effective_Start_DT              3429 non-null   object
 6   Effective_Ending_DT             3429 non-null   object
 7   Termination_Reason              3429 non-null   object
 8   Birth_DT                        3429 non-null   object
 9   Edad                            3429 non-null   int64
 10  Marital_CD                      3429 non-null   int64
 11  Marital_ST                      3429 non-null   object
 12  Gender                          3429 non-null   int64
 13  SBR_AMT                         3429 non-null   float64
 14  SCR_AMT                         3429 non-null   float64
 15  Region                          3360 non-null   float64
 16  Office                          3429 non-null   int64
 17  Area                            3429 non-null   int64
 18  Division                        3429 non-null   int64
 19  Department_CD                   3429 non-null   int64
 20  Department                      3429 non-null   object
 21  Billiability                    3429 non-null   int64
 22  Technology                      3429 non-null   int64
 23  Business_Unit                   3429 non-null   int64
 24  Std_Hrs_Week                    3429 non-null   float64
 25  Prime_Skills_CD                 3429 non-null   int64
 26  Prime_Skills                    3429 non-null   object
 27  2020                            3429 non-null   int64
 28  2019                            3429 non-null   int64
 29  Months_Worked                   3429 non-null   int64
 30  Level_Cat.1                     3429 non-null   int64
 31  Proportional_Days               3429 non-null   float64
 32  Days_Taken                      3429 non-null   float64
 33  Vacation_Ratio                  3429 non-null   float64
 34  Number_Unique_Projects          3429 non-null   int64
 35  Number_Unique_Project_Type      3429 non-null   int64
 36  Abscence_Projects               3429 non-null   float64
 37  Administrative_Functions        3429 non-null   float64
 38  Awaiting_Projects               3429 non-null   float64
 39  Billable_Projects               3429 non-null   float64
 40  Corporate_Funded_Projects       3429 non-null   float64
 41  Cost_Centers                    3429 non-null   float64
 42  Indirect_Cost_Centers           3429 non-null   int64
 43  Internal_Investment_Projects    3429 non-null   float64
 44  Internal_Programs               3429 non-null   float64
 45  Proposals                       3429 non-null   float64
 46  Proposals_General               3429 non-null   float64
 47  Training_Programs               3429 non-null   float64
 48  Increase_2018_2019              3429 non-null   float64
 49  Increase_2019_2020              3429 non-null   float64
 50  Bonus_2018                      3346 non-null   float64
 51  Bonus_2019                      3346 non-null   float64
 52  Course_Viewed                   3429 non-null   float64
 53  Logs_Course_Viewed              3429 non-null   float64
 54  Logs_Global_Campus              3429 non-null   float64
 55  Media_hora_curso                3429 non-null   float64
 56  Estado                          3346 non-null   object
 57  Total_number_received_Feedback  3429 non-null   float64
 58  Performance_feedback_AVG        3429 non-null   float64
 59  Performance_Level_CD            3429 non-null   int64
 60  Performance_Level               3429 non-null   object
 61  Potential_Level_CD              3429 non-null   int64
 62  Potential_Level                 3429 non-null   object
 63  Track_Code                      3429 non-null   int64
 64  TotalNumberOfficeEmployees      3429 non-null   int64
dtypes: float64(28), int64(23), object(14)
memory usage: 1.7+ MB

# Eliminación de columnas no representativas para el análisis