In [ ]:
# load packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("ggplot")

import seaborn as sns
import statsmodels.api as sm # give you lots of stat

from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score

#from src.roc_curve import *

In [ ]:
#!pip install src

In [13]:
df = pd.read_csv('data_churn_model.csv', index_col=0)
df.head()

,Country,Employee_Pay_ST,Track,Level_Cat,Level,Effective_Start_DT,Effective_Ending_DT,Termination_Reason,Birth_DT,Edad,...,Media_hora_curso,Estado,Total_number_received_Feedback,Performance_feedback_AVG,Performance_Level_CD,Performance_Level,Potential_Level_CD,Potential_Level,Track_Code,TotalNumberOfficeEmployees
ID_Country,,,,,,,,,,,,,,,,,,,,,
2,MX,Active,SYINCO,5,Sr. Consultant,12/01/2001,1/29/2021,Still Active,16/09/1971,49,...,16.0,Activo,0.0,91.789248,2,Medium,0,No Employee info,8,1441
2,MX,Active,DEVELO,5,Sr. Consultant,8/23/2018,1/29/2021,Still Active,10/10/1966,54,...,10.0,Activo,19.0,91.630000,2,Medium,0,No Employee info,3,1441
2,MX,Active,CONSUL,6,Manager / Master,08/01/2009,1/29/2021,Still Active,03/09/1972,48,...,2.0,Activo,0.0,91.789248,0,High,0,No Employee info,2,1441
2,MX,Active,MNGSER,3,Experienced Consultant,11/16/2017,1/29/2021,Still Active,22/11/1970,49,...,14.0,Activo,0.0,91.789248,2,Medium,0,No Employee info,4,1441
2,MX,Active,PROJCT,6,Manager / Master,10/01/1995,1/29/2021,Still Active,25/06/1974,46,...,4.0,Activo,2.0,50.000000,2,Medium,1,RISING TALENT,5,1441

In [14]:
df.describe()

,Level_Cat,Edad,Marital_CD,Gender,SBR_AMT,SCR_AMT,Region,Office,Area,Division,...,Course_Viewed,Logs_Course_Viewed,Logs_Global_Campus,Media_hora_curso,Total_number_received_Feedback,Performance_feedback_AVG,Performance_Level_CD,Potential_Level_CD,Track_Code,TotalNumberOfficeEmployees
count,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3360.000000,3429.000000,3429.000000,3429.000000,...,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000
mean,3.316419,35.251385,1.377953,0.252260,91.046755,26.009801,11.806548,20.706037,7.145815,109.049869,...,3.427414,9.160767,77.210944,6.153727,2.184537,91.777965,2.067658,0.264800,4.049577,892.149023
std,1.683686,8.235579,0.658880,0.434373,63.612494,18.202570,5.395693,13.961061,1.325969,252.702710,...,5.259952,11.546190,98.156459,8.169579,3.448176,6.662654,1.066940,0.591056,2.215726,515.735342
min,1.000000,18.000000,1.000000,0.000000,0.000000,0.000000,2.000000,3.000000,7.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,5.000000
25%,2.000000,29.000000,1.000000,0.000000,48.000000,13.750000,12.000000,8.000000,7.000000,35.000000,...,0.000000,0.000000,4.000000,0.000000,0.000000,91.789248,2.000000,0.000000,3.000000,627.000000
50%,3.000000,34.000000,1.000000,0.000000,78.620000,22.440000,14.000000,31.000000,7.000000,36.000000,...,2.000000,4.000000,40.000000,4.000000,1.000000,91.789248,2.000000,0.000000,3.000000,735.000000
75%,5.000000,41.000000,2.000000,1.000000,119.280000,34.080000,15.000000,33.000000,7.000000,37.000000,...,4.000000,16.000000,117.401185,8.000000,3.000000,94.330000,3.000000,0.000000,5.000000,1441.000000
max,6.000000,67.000000,5.000000,1.000000,827.720000,236.490000,18.000000,48.000000,24.000000,994.000000,...,45.000000,54.000000,497.000000,48.000000,19.000000,100.000000,3.000000,2.000000,8.000000,1441.000000